* {
    margin: 0; padding: 0;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    outline: none;
}

html, body {
    background: #ff1744;
    width: 100%; height: 100%;
    font-size: bold 18pt/100% 'quicksand', 'Open Sans', sans-serif;
    color: #fff;
    overflow: hidden;
    transform: rotateX(0deg);
}

.preloader {
    position: fixed;
    display: flex;
    background: #ff1744;
    width: 100%; height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.preloader.loaded {
    animation: intro-loaded 1s ease-in-out;
    animation-fill-mode: forwards;
}

.preloader .logo { width: 16em; }
.preloader .logo .elem {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-width: 0.5;
    stroke-dashoffset: 400;
    stroke-dasharray: 400;
    animation: intro 1.25s ease-in-out;
    animation-fill-mode: forwards;
}

.preloader .wait { width: 2em; }
.preloader .wait .elem {
    fill: transparent;
    stroke: #fff;
    stroke-width: 10;
    stroke-dasharray: 200;
    animation: stroke 5s linear infinite;
}

header {
    position: fixed;
    display: block;
    width: 100%;
    left: 0; top: 0;
    z-index: 1;
}

header .history {
    position: relative;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 0;
}

header .history a {
    width: 1em; height: 2.75em;
    margin: -0.5em 0;
    border: solid 2pt transparent;
    border-radius: 1em;
    box-shadow: 0 4pt 4pt 0 rgba(0, 0, 0, 0.1);
}

header .history a.hide { display: none; }
header .history a.focus,
header .history a:hover { border: solid 2pt #fff; }

main {
    position: relative;
    display: flex;
    width: 100%; height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main .wrapper { position: relative; display: block; text-align: center; }
main .wrapper p { font: bold 4.5em 'quicksand', sans-serif; text-transform: uppercase; }

main .other {
    position: absolute;
    width: 200%; height: 200%;
    top: 200%; right: -50%;
}

main .other p {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: none;
}

footer {
    position: fixed;
    width: 100%;
    left: 0; bottom: 0;
    z-index: 1;
}

footer .share { float: left; margin: 1.5em; }

footer .made { float: right; margin: 1.5em; }
footer .made a {
    text-decoration: none;
    font: bold 1em 'quicksand', sans-serif;
    color: #fff;
}

footer .heart {
    position: relative;
    width: 1.5em; height: 1.5em;
    left: .1em; top: .4em;
}

footer .heart .elem {
    fill: transparent;
    stroke: #fff;
    stroke-width: 14;
    stroke-dasharray: 400;
    animation: stroke 5s ease infinite;
}

footer .made a:hover { color: black; }
footer .made a:hover .elem { fill: white; animation: none; }

footer .made a.black .elem { stroke: black; }
footer .made a.black:hover .elem { fill: black; animation: none; }
