@font-face {
    font-family: 'quicksand';
    src: url('../asset/font/quicksand-bold.eot');
    src: url('../asset/font/quicksand-bold.eot?#iefix') format('embedded-opentype'),
    url('../asset/font/quicksand-bold.woff2') format('woff2'),
    url('../asset/font/quicksand-bold.woff') format('woff'),
    url('../asset/font/quicksand-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
